VITE_DEPLOYMENT_ENV=testnet
VITE_MATCHER_URL=https://api.TODO_PUBLIC_ROOT_DOMAIN
VITE_TENDERMINT_RPC_URL=https://tm.TODO_PUBLIC_ROOT_DOMAIN
VITE_REST_URL=https://rest.TODO_PUBLIC_ROOT_DOMAIN
VITE_INDEXER_URL=https://indexer.TODO_PUBLIC_ROOT_DOMAIN
VITE_JSON_RPC_URL=https://rpc.TODO_PUBLIC_ROOT_DOMAIN
VITE_EVM_WS_URL=wss://ws.TODO_PUBLIC_ROOT_DOMAIN
VITE_BRIDGE_SRC_CHAIN_ID=initiation-2
VITE_BRIDGE_SRC_DENOM=uinit
