PORT=8787
DEPLOYMENT_FILE=../../deployments/testnet.json
MATCHER_PRIVATE_KEY=0xTODO_MATCHER_PRIVATE_KEY
PRICE_BAND_BPS=1000
PRICE_DB_FILE=./data/prices.sqlite
PRICE_POLL_INTERVAL_MS=60000
T_BOND_PROXY_SYMBOL=TLT
TWELVE_DATA_API_KEY=
COINGECKO_DEMO_API_KEY=
INITIA_CONNECT_REST_URL=https://rest.testnet.initia.xyz
L1_REST_URL=https://rest.testnet.initia.xyz
L1_RPC_URL=https://rpc.testnet.initia.xyz
L1_CHAIN_ID=initiation-2
L1_GAS_PRICES=0.015uinit
L1_GAS_ADJUSTMENT=1.75
L1_ROUTER_MNEMONIC=
L1_ROUTER_KEY_NAME=weave_bridge_executor
L1_ROUTER_KEYRING_BACKEND=test
L1_ROUTER_HOME=/home/USER/.opinit/initiation-2
RELAYER_HEALTH_URL=https://TODO_RELAYER_HEALTH_URL
OPINIT_HEALTH_URL=https://TODO_OPINIT_HEALTH_URL
OPINIT_BRIDGE_ID=
BRIDGED_INIT_DENOM=l2/7835b9ce5f65720a12cd653306cfe00afb93dcf1b73e69eb5eeddc568fc455cf
BRIDGED_INIT_SYMBOL=cINIT
BRIDGED_INIT_SOURCE_DECIMALS=6
ROUTER_QUOTE_SPREAD_BPS=35
ROUTER_MAX_LOCAL_FILL_USD=25000
ROUTER_REBALANCE_INTERVAL_MS=15000
ROUTER_CANONICAL_ASSETS_JSON={"cINIT":{"l1Symbol":"INIT","bridgeDenom":"uinit","l1Decimals":6,"minInventoryAtomic":"100000000000000000000","targetInventoryAtomic":"250000000000000000000","maxInventoryAtomic":"1000000000000000000000"},"cETH":{"l1Symbol":"ETH","bridgeDenom":"ueth","l1Decimals":6,"minInventoryAtomic":"1000000000000000000","targetInventoryAtomic":"5000000000000000000","maxInventoryAtomic":"25000000000000000000"},"cUSDC":{"l1Symbol":"USDC","bridgeDenom":"uusdc","l1Decimals":6,"minInventoryAtomic":"1000000000","targetInventoryAtomic":"25000000000","maxInventoryAtomic":"250000000000"}}
ROUTER_MARKETS_JSON={"cINIT/cUSDC":{"pairDenom":"move/TODO_PAIR_OBJECT_DENOM","baseSymbol":"cINIT","quoteSymbol":"cUSDC"},"cETH/cUSDC":{"pairDenom":"move/TODO_PAIR_OBJECT_DENOM","baseSymbol":"cETH","quoteSymbol":"cUSDC"}}
ROUTER_BOOTSTRAP_INVENTORY_JSON={"cINIT":"500000000000000000000","cETH":"10000000000000000000","cUSDC":"250000000000"}
