PORT=8787
DEPLOYMENT_FILE=../../deployments/local.json
MATCHER_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945382d7dd2f0d5b0ce3f4bfefd4dc2621c4d6
PRICE_BAND_BPS=1000
PRICE_DB_FILE=./data/prices.sqlite
PRICE_POLL_INTERVAL_MS=60000
T_BOND_PROXY_SYMBOL=TLT
TWELVE_DATA_API_KEY=
COINGECKO_DEMO_API_KEY=
INITIA_CONNECT_REST_URL=https://rest.testnet.initia.xyz
L1_REST_URL=https://rest.testnet.initia.xyz
L1_RPC_URL=https://rpc.testnet.initia.xyz
L1_CHAIN_ID=initiation-2
L1_GAS_PRICES=0.015uinit
L1_GAS_ADJUSTMENT=1.75
L1_ROUTER_MNEMONIC=
RELAYER_HEALTH_URL=
OPINIT_HEALTH_URL=
OPINIT_BRIDGE_ID=
ROUTER_QUOTE_SPREAD_BPS=35
ROUTER_MAX_LOCAL_FILL_USD=25000
ROUTER_REBALANCE_INTERVAL_MS=15000
ROUTER_CANONICAL_ASSETS_JSON={"cINIT":{"l1Symbol":"INIT","bridgeDenom":"uinit","l1Decimals":6,"minInventoryAtomic":"100000000000000000000","targetInventoryAtomic":"250000000000000000000","maxInventoryAtomic":"1000000000000000000000"},"cETH":{"l1Symbol":"ETH","bridgeDenom":"ueth","l1Decimals":6,"minInventoryAtomic":"1000000000000000000","targetInventoryAtomic":"5000000000000000000","maxInventoryAtomic":"25000000000000000000"},"sUSDC":{"l1Symbol":"USDC","bridgeDenom":"uusdc","l1Decimals":6,"minInventoryAtomic":"1000000000","targetInventoryAtomic":"25000000000","maxInventoryAtomic":"250000000000"}}
ROUTER_MARKETS_JSON={"cINIT/sUSDC":{"pairDenom":"move/dbf06c48af3984ec6d9ae8a9aa7dbb0bb1e784aa9b8c4a5681af660cf8558d7d","baseSymbol":"cINIT","quoteSymbol":"sUSDC"},"cETH/sUSDC":{"pairDenom":"move/86aa99720bfde128a4e93b3c63b81aeda55ffb61066dbfe9312e6f38c72c6370","baseSymbol":"cETH","quoteSymbol":"sUSDC"}}
ROUTER_BOOTSTRAP_INVENTORY_JSON={"cINIT":"500000000000000000000","cETH":"10000000000000000000","sUSDC":"250000000000"}
